/* Base adjustments for mobile view */
body {
    font-size: 1rem;
    line-height: 1.5;
}
main {
    margin-top: 80px;
}

.navbar-brand img {
    height: 25px;
}

.navbar-nav .nav-link {
    font-size: 0.9rem;
    padding: 0.5rem;
}

/* Adjustments for modal buttons and icons */
.footer .btn {
    width: 70%;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.bottom-navbar .nav-link {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .navbar-brand img {
        height: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .bottom-navbar .nav-link {
        font-size: 1.2rem;
        padding: 0.3rem;
    }
}

/* Fixed nav */
.navbar {
    position: fixed;
    margin: auto;
    width: 100%;
    z-index: 1030; 
}

/* Reset modal styles to default Bootstrap */
.modal-dialog {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 1.75rem auto;
    
}

.modal-content {
    width: 100%; /* Ensure content takes full width */
    margin: auto;
    border: none;
}

.modal-header {
    padding: 1rem 1.5rem;
    /* border-bottom: none; */
}

.modal-body {
    position: relative;
    padding: 1.5rem;
    max-height: 60vh; /* モーダルの最大高さ */
    overflow-y: auto; /* コンテンツがオーバーフローした場合にスクロール */
}

.modal-footer {
    padding: 1rem 1.5rem;
    border-top: none;
}

.toot-button{
    right:40px;
    bottom:100px;
}

.custom-offcanvas {
    width: 30%; /* ここで幅を調整します */
}
.offcanvas{
    width:30%;
}

.nav-table {
    display: inline-block;
    vertical-align: middle;
}
.footer{
    opacity: 1;
}

#submitButton:disabled {
    opacity: 0.65; /* スタイルの調整 */
    pointer-events: none; /* クリックを無効化 */
}



.position-relative {
    position: relative; /* 親要素を相対位置に設定 */
}

.position-absolute {
    position: absolute; /* バッジを絶対位置に設定 */
    top: -5px;         /* アイコンの上に配置 */
    right: -10px;      /* アイコンの右に配置 */
    height: 20px;      /* 高さを設定 */
    width: 20px;       /* 幅を設定 */
    border-radius: 100%; /* 正円にする */
    display: flex;     /* 中央揃えのためにフレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
}


.bg-blue {
    background-color: #007bff;
}

.bg-green {
    background-color: #28a745;
}

.bg-red {
    background-color: #c82333;
}
.bg-orange{
    background-color: #fd7e14;
}
.bg-purple{
    background-color: #6f42c1;
}
.bg-gray{
    background-color: #4f5357;
}