{% load static %}
{% load django_bootstrap5 %}
<html>

<head class="fixed-top">
    <meta charset="UTF-8">
    <title>トゥットゥルー♪</title>
    <link rel="icon" href="{% static 'media/icon_white.ico' %}" type="image/x-icon">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/e49b9fdb64.js" crossorigin="anonymous"></script>
    {% block extraheader %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
        <div class="container justify-content-between">
            <a href="/" class="navbar-brand"><img src="{% static 'media/icon.svg' %}" height="30px">トゥットゥルー♪</a>
            <ul class="navbar-nav mr-md-2">
                {% if user.is_authenticated %}
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link" style="padding: 0;">
                        {{ user.username }}さん　ログアウト</button>
                </form>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
    <footer class="fixed-bottom">
        {% block footer %}{% endblock %}
        <div class="bottom-navbar bg-dark">
            <div class="container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>


</html>
