{% load static %}
{% load django_bootstrap5 %}
<html lang="ja">

<head class="fixed-top">
    <meta charset="UTF-8">
    <title>トゥットゥルー♪</title>

    <link rel="icon" href="{% static 'media/icon_white.ico' %}" type="image/x-icon">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/e49b9fdb64.js" crossorigin="anonymous"></script>
    {% block extraheader %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if user.is_authenticated %}
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark py-0">
        <div class="container justify-content-between">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button"
                        aria-controls="offcanvasMenu">
                        {% if user.customuser.profile_image %}
                        <img src="{{ user.customuser.profile_image.url }}" class="rounded-circle" height="50px"
                            alt="{{ user.username }}">
                        {% else %}
                        <img src="{% static 'media/icon_white.png' %}" height="50px" alt="{{ user.username }}">
                        {% endif %}
                    </a>
                </li>
                {% endif %}
            </ul>
            <a href="/" class="navbar-brand mx-auto">
                <img src="{% static 'media/icon.svg' %}" height="30px"> トゥットゥルー♪
            </a>
            <ul class="navbar-nav me-md-2">
                {% if user.is_authenticated %}
                {% block navbar-right %}{% endblock %}
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start custom-offcanvas bg-dark text-light" tabindex="-1" id="offcanvasMenu"
        aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'user_detail' user.id %}">

                {% if user.customuser.profile_image %}
                <img src="{{ user.customuser.profile_image.url }}" class="rounded-circle" height="100px"
                    alt="{{ user.username }}">
                {% else %}
                <img src="{% static 'media/icon_white.png' %}" height="100px" alt="{{ user.username }}">
                {% endif %}

            </a>
            {% endif %}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        {% if user.is_authenticated %}
        <div class="offcanvas-body">
            <h3><span>{{ user.get_display_name }}</span>@<span>{{ user.get_username }}</span></h3>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light fs-3" href="{% url 'root' %}" style="z-index: 100;">
                        <table class="nav-table text-light">
                            <tr>
                                <td><i class="fa-solid fa-home fs-1"></i></td>
                                <td><span class="h4">ホーム</span></td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_detail' user.id %}">
                        <table class="nav-table text-light">
                            <tr>
                                <td><i class="fa-solid fa-user fs-1"></i></td>
                                <td><span class="h4">プロフィール</span></td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_edit' user.id %}">
                        <table class="nav-table text-light">
                            <tr>
                                <td><i class="fa-solid fa-pen fs-1"></i></td>
                                <td><span class="h4">プロフィールを編集</span></td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="background:none; border:none;">
                            <table class="nav-table text-light">
                                <tr>
                                    <td><i class="fa-solid fa-right-from-bracket fs-1"></i></td>
                                    <td><span class="h4">ログアウト</span></td>
                                </tr>
                            </table>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <main class="main">
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>

    <footer class="fixed-bottom footer">
        <div class="bottom-navbar bg-dark py-2">
            <div class="container">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link text-light fs-3" href="{% url 'root' %}" style="z-index: 100;">
                            <i class="fa-solid fa-house fs-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link text-light fs-3" href="{% url 'user_detail' user.id %}">
                            <i class="fa-solid fa-user fs-1"></i>
                        </a>
                        {% else %}
                        <a class="nav-link text-light fs-3" href="">
                            <i class="fa-solid fa-user fs-1"></i>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-3" href="{% url 'search' %}">
                            <i class="fa-solid fa-magnifying-glass fs-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- モーダルの追加 -->
    <div class="modal" id="tootModal" tabindex="-1" aria-labelledby="tootModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tootModalLabel">toot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'toot_new' %}" id="toot-form-modal">
                        {% csrf_token %}
                        {% if form %}
                        {% bootstrap_form form %}
                        {% endif %}
                        <div class="mb-3">
                            <span id="char-count">0</span> / <span id="max-char-count">{{ form.content.field.max_length }}</span> 文字
                            <span id="char-limit-msg" style="color: red; display: none;">文字数制限に達しました</span>
                        </div>
                        <div class="text-end">
                            {% bootstrap_button button_type='submit' content='トゥトゥる' id='submit-btn' %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tootTextarea = document.querySelector('#toot-form-modal textarea[name="content"]');
            const charCountSpan = document.getElementById('char-count');
            const maxCharCount = parseInt(document.getElementById('max-char-count').textContent);
            const submitButton = document.getElementById('submit-btn');
            const charLimitMsg = document.getElementById('char-limit-msg');
            // モーダルが表示されたときにテキストエリアを選択
            var tootModal = document.getElementById('tootModal');
            tootModal.addEventListener('shown.bs.modal', function () {
                tootTextarea.focus();
            });
            
            updateCharCount();

            tootTextarea.addEventListener('input', function () {
                updateCharCount();
            });

            tootTextarea.addEventListener('keydown', function (e) {
                if (e.key === 'Enter' && (e.ctrlKey || e.metaKey)) {
                    e.preventDefault();
                    if (!submitButton.disabled) {
                        document.getElementById('toot-form-modal').submit();
                    }
                }
            });

            function updateCharCount() {
                const currentCharCount = tootTextarea.value.length;
                charCountSpan.textContent = currentCharCount;

                if (currentCharCount >= maxCharCount) {
                    tootTextarea.value = tootTextarea.value.slice(0, maxCharCount);
                    charCountSpan.textContent = maxCharCount;
                    charLimitMsg.style.display = 'inline'; // 文字数制限メッセージを表示
                    charLimitMsg.style.color = 'red'; // メッセージの色を設定
                } else {
                    charLimitMsg.style.display = 'none'; // 文字数制限メッセージを非表示
                }

                if (currentCharCount === maxCharCount) {
                    charCountSpan.style.color = 'orange';
                } else {
                    charCountSpan.style.color = 'black';
                }

                submitButton.disabled = currentCharCount === 0 || currentCharCount > maxCharCount;
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.follow-btn').forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    const form = this.closest('form');
                    const url = form.getAttribute('action');
                    const formData = new FormData(form);

                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',  // Django の Ajax CSRF 対策用
                            'X-CSRFToken': '{{ csrf_token }}'     // CSRF トークンのセット
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            const followersCountElement = document.getElementById('followers-count');
                            const followingCountElement = document.getElementById('following-count');

                            if (form.id === 'follow-form') {
                                button.textContent = 'フォロー解除';
                                button.classList.remove('btn-primary');
                                button.classList.add('btn-secondary');
                                form.setAttribute('action', url.replace('follow', 'unfollow'));
                                followersCountElement.textContent = data.followers_count;
                                followingCountElement.textContent = data.following_count;
                            } else if (form.id === 'unfollow-form') {
                                button.textContent = 'フォローする';
                                button.classList.remove('btn-secondary');
                                button.classList.add('btn-primary');
                                form.setAttribute('action', url.replace('unfollow', 'follow'));
                                followersCountElement.textContent = data.followers_count;
                                followingCountElement.textContent = data.following_count;
                            }
                        })
                        .catch(error => {
                            console.error('フォロー操作に失敗しました。', error);
                            alert('フォロー操作に失敗しました。');
                        });
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var lastScrollTop = 0;
            var navbar = document.querySelector('.navbar');
            var footer = document.querySelector('.footer');
            navbar.style.top = '0';
            footer.style.opacity = '1';
            window.addEventListener('scroll', function () {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                if (scrollTop > lastScrollTop) {
                    // 下にスクロールしたとき
                    navbar.style.top = '-100px'; // Adjust this value to your navbar height
                    footer.style.opacity = '0.6';
                } else {
                    // 上にスクロールしたとき
                    navbar.style.top = '0';
                    footer.style.opacity = '1';
                }

                lastScrollTop = scrollTop;
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('toot-form-modal');
            var contentField = form.querySelector('#id_content');
            var charCountSpan = form.querySelector('#char-count');
            var maxCharCount = parseInt(form.querySelector('#max-char-count').textContent);

            contentField.addEventListener('input', function () {
                var currentCharCount = contentField.value.length;
                charCountSpan.textContent = currentCharCount;

                if (currentCharCount > maxCharCount) {
                    document.getElementById('submit-btn').disabled = true;
                } else {
                    document.getElementById('submit-btn').disabled = false;
                }
            });
        });
    </script>
</body>

</html>