{% extends 'toot/base.html' %}
{% load static %}
{% block main %}
<div class="container mt-4">
    <h3 class="mb-4">検索</h3>

    <!-- 検索フォーム -->
    <form class="mb-4" method="get" action="{% url 'search' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Toots" aria-label="Search Toots" name="q">
            <button class="btn btn-outline-primary" type="submit"><i
                    class="fa-solid fa-magnifying-glass"></i>検索</button>
                    
        </div>
        
    </form>


    {% if toots %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="pb-5 mb-5 my-5">
                {% for toot in toots %}
                
                {% include 'toot/toot_card.html' with toots=toots liked_toots=liked_toots %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="text-center">投稿はありません</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}