{% extends 'toot/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block main %}
<div class="card my-3">
    <div class="card-body">
        <a class="nav-link text-dark fs-3" href="{% url 'user_detail' toot.user.id %}">
            <div class="d-flex align-items-center">
                {% if toot.user.profile_image %}
                <img src="{{ toot.user.profile_image.url }}" alt="User Image" height="50" class="rounded-circle">
                {% else %}
                <img src="{% static 'media/icon.png' %}" alt="Default Image" height="50">
                {% endif %}
                <div class="mx-2">
                    <h5 class="mb-0">{{ toot.user }}</h5>
                    <small class="text-muted">{{ toot.created_at }}</small>
                </div>
            </div>
        </a>
        <div class="mt-3">
            <p class="mb-0">{{ toot.content |linebreaksbr|urlize }}</p>
            <div class="mt-2">
                {% for hashtag in toot.hashtags.all %}
                <a href="{% url 'hashtag_detail' hashtag.id %}" class="badge bg-primary text-light">#{{ hashtag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3">
            <form action="{% url 'like_toot' toot.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0" style="color:rgb(247, 124, 210);">
                    <i class="fa{% if toot.id in liked_toots %}-solid{% else %}-regular{% endif %} fa-heart"></i>
                    <span>いいね({{ toot.like_count }})</span>
                </button>
            </form>
            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#likesModal">
                <i class="fas fa-users"></i> いいねしたユーザー
            </button>
            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#replyModal">
                <i class="fa-regular fa-comment"></i> <span>リプライ({{ toot.reply_count }})</span>
            </button>
            {% if request.user == toot.user.user %}
            <form action="{% url 'delete_toot' toot.id %}" method="post" class="d-inline"
                onsubmit="return confirmDelete();">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0 text-danger">
                    <i class="fa-solid fa-trash"></i> 削除
                </button>
            </form>
            {% endif %}
        </div>
        <div class="mt-3">
            {% for reply in replies %}
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        {% if reply.user.profile_image %}
                        <img src="{{ reply.user.profile_image.url }}" alt="User Image" height="40"
                            class="rounded-circle">
                        {% else %}
                        <img src="{% static 'media/icon.png' %}" alt="Default Image" height="40">
                        {% endif %}
                        <div class="mx-2">
                            <h6 class="mb-0">{{ reply.user }}</h6>
                            <small class="text-muted">{{ reply.created_at }}</small>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mb-0">{{ reply.content |linebreaksbr|urlize }}</p>
                    </div>
                    {% if request.user == reply.user.user %}
                    <div class="mt-2">
                        <form action="{% url 'delete_reply' reply.id %}" method="post"
                            onsubmit="return confirmDelete();">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link p-0 text-danger">
                                <i class="fa-solid fa-trash"></i> 削除
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="likesModalLabel">Liked by</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for like in likes %}
                <div class="d-flex align-items-center mb-2">
                    {% if like.user.profile_image %}
                    <img src="{{ like.user.profile_image.url }}" alt="User Image" height="40">
                    {% else %}
                    <img src="{% static 'media/icon.png' %}" alt="Default Image" height="40">
                    {% endif %}
                    <div class="mx-2">
                        <h6 class="mb-0">{{ like.user.username }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="replyModalLabel">リプライ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="replyForm" action="{% url 'reply_new' toot.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ reply_form.content}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary">リプライ</button>
                    </div>
                    {% if reply_form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in reply_form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm('本当に削除しますか？');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const replyTextarea = document.querySelector('#replyModal textarea[name="content"]');
        replyTextarea.addEventListener('keydown', function (e) {
            if (e.key === 'Enter' && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                document.getElementById('replyForm').submit();
            }
        });
    });
</script>
{% endblock %}