{% load django_bootstrap5 %}
{% load static %}

{% block main %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                {% for like in likes %}
                <div class="d-flex align-items-center mb-2">
                    {% if like.user.profile_image %}
                    <img src="{{ like.user.profile_image.url }}" alt="User Image" height="40">
                    {% else %}
                    <img src="{% static 'media/icon.png' %}" alt="Default Image" height="40">
                    {% endif %}
                    <div class="mx-2">
                        <h6 class="mb-0">{{ like.user }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}