{% extends 'toot/base.html' %}
{% block main %}
<div class="welcome">
    <h1 class="title">Linuxコマンド知恵袋</h1>
    <p class="subtitle">知識を共有して助け合おう!</p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'toot_new' %}">投稿する</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'login' %}">投稿する</a>
    {% endif %}
</div>

{% if snippets %}
<table class="table">
    <thead>
    <tr>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>タイトル</th>
    </tr>
    </thead>
    <tbody>
    {% for snippet in snippets %}
    <tr>
        <th>{{ snippet.created_by.username }}</th>
        <th>{{ snippet.created_at }}</th>
        <th><a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.title }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>スニッペトはまだ投稿されていません．</p>
{% endif %}
{% endblock %}