{% load static %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Following from {{ user_profile.user.username }}</h2>
            {% if following %}
            <ul class="list-group list-group-flush">
                {% for follow in following %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="me-3">
                        {% if follow.following.profile_image %}
                        <img src="{{ follow.following.profile_image.url }}" alt="User Image" height="50">
                        {% else %}
                        <img src="{% static 'media/icon.png' %}" alt="Default Image" height="50">
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'user_profile' follow.following.pk %}">{{ follow.following.username }}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Not following anyone yet.</p>
            {% endif %}
        </div>
    </div>
</div>
