{% extends 'toot/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                {% if user_profile.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" class="card-img-top"
                    alt="{{ user_profile.user.username }}">
                {% else %}
                <img src="{% static 'media/icon.png' %}" class="card-img-top" alt="{{ user_profile.user.username }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ user_profile.user.username }}</h5>
                    <p class="card-text">{{ user_profile.bio }}</p>
                    <p class="card-text"><small class="text-muted">Joined: {{ user_profile.user.date_joined }}</small>
                    </p>
                    {% if user.is_authenticated %}
                    {% if user == user_profile.user %}
                    <!-- ログインユーザーのプロフィールページ -->
                    <a href="{% url 'user_edit' pk=user_profile.pk %}" class="btn btn-primary mb-3">プロフィールを編集</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">ログアウト</button>
                    </form>
                    {% else %}
                    <!-- 他のユーザーのプロフィールページ -->
                    {% if is_following %}
                    <a href="{% url 'user_unfollow' pk=user_profile.pk %}" class="btn btn-secondary">フォロー解除</a>
                    {% else %}
                    <a href="{% url 'user_follow' pk=user_profile.pk %}" class="btn btn-primary">フォローする</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="toots-tab" data-bs-toggle="tab" href="#toots" role="tab"
                        aria-controls="toots" aria-selected="true">Toots</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="followers-tab" data-bs-toggle="tab" href="#followers" role="tab"
                        aria-controls="followers" aria-selected="false">Followers ({{ followers_count }})</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="following-tab" data-bs-toggle="tab" href="#following" role="tab"
                        aria-controls="following" aria-selected="false">Following ({{ following_count }})</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="toots" role="tabpanel" aria-labelledby="toots-tab">
                    {% if toots %}
                    {% for toot in toots %}
                    <div class="card my-3">
                        <div class="card-body">
                            <a href="{% url 'toot_detail' toot.id %}" class="text-decoration-none text-dark">
                                <div class="d-flex align-items-center">
                                    {% if toot.user.profile_image %}
                                    <img src="{{ toot.user.profile_image.url }}" alt="User Image" height="50">
                                    {% else %}
                                    <img src="{% static 'media/icon.png' %}" alt="Default Image" height="50">
                                    {% endif %}
                                    <div class="mx-2">
                                        <h5 class="mb-0">{{ toot.user }}</h5>
                                        <small class="text-muted">{{ toot.created_at }}</small>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <p class="mb-0">{{ toot.content|truncatewords:20 }}</p>
                                </div>
                            </a>
                            <div class="mt-3">
                                <form action="{% url 'like_toot' toot.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link p-0" style="color:rgb(247, 124, 210);">
                                        <i
                                            class="fa{% if toot.id in liked_toots %}-solid{% else %}-regular{% endif %} fa-heart"></i>
                                        <span>{{ toot.like_count }}</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No toots available.</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    <!-- フォロワーリストの表示をここに追加します -->
                </div>
                <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                    <!-- フォローリストの表示をここに追加します -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}