{% extends 'toot/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block navbar-right %}
<div class="d-flex justify-content-end">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            並び替え
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="?sort=newest">新しい順</a></li>
            <li><a class="dropdown-item" href="?sort=oldest">古い順</a></li>
            <li><a class="dropdown-item" href="?sort=most_likes">いいねが多い順</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                {% if user_profile.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" class="card-img-top"
                    alt="{{ user_profile.user.username }}">
                {% else %}
                <img src="{% static 'media/icon.png' %}" class="card-img-top" alt="{{ user_profile.user.username }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ user_profile.display_name }} </h5>
                    <h6>@ {{ user_profile.user.username }}</h6>
                    <p class="card-text">{{ user_profile.bio }}</p>
                    <p class="card-text"><small class="text-muted">Joined: {{ user_profile.user.date_joined }}</small>
                    </p>
                    <form class="mb-4" method="get" action="{% url 'search' %}" onsubmit="addFromToQuery()">
                        <div class="input-group">
                            <input type="text" class="form-control" id="search-input" placeholder="Toots" aria-label="Search Toots" name="q">
                            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i>検索</button>
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                    {% if user == user_profile.user %}
                    <!-- ログインユーザーのプロフィールページ -->
                    <a href="{% url 'user_edit' pk=user_profile.pk %}" class="btn btn-primary mb-3">プロフィールを編集</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">ログアウト</button>
                    </form>
                    {% else %}
                    <!-- 他のユーザーのプロフィールページ -->
                    <!-- user_detail.html -->
                    {% if is_following %}
                    <a href="{% url 'user_unfollow' pk=user_profile.pk %}"
                        class="btn btn-secondary follow-btn">フォロー解除</a>
                    {% else %}
                    <a href="{% url 'user_follow' pk=user_profile.pk %}" class="btn btn-primary follow-btn">フォローする</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9 mb-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="toots-tab" data-bs-toggle="tab" href="#toots" role="tab"
                        aria-controls="toots" aria-selected="true">
                        Toots ({{ toots_count }})
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="likes-tab" data-bs-toggle="tab" href="#likes" role="tab"
                        aria-controls="likes" aria-selected="false">
                        Likes 
                        <!-- ({{ likes_count }}) -->
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="followers-tab" data-bs-toggle="tab" href="#followers" role="tab"
                        aria-controls="followers" aria-selected="false">
                        Followers ({{ followers_count }})
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="following-tab" data-bs-toggle="tab" href="#following" role="tab"
                        aria-controls="following" aria-selected="false">
                        Following ({{ following_count }})
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="toots" role="tabpanel" aria-labelledby="toots-tab">
                    {% include 'toot/toot_list.html' %}
                </div>
                <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                    {% include 'toot/user_likes.html' %}
                </div>
                <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    {% include 'toot/user_followers.html' %}
                </div>
                <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                    {% include 'toot/user_following.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            var tabElement = document.querySelector(`a[href="${activeTab}"]`);
            var tabInstance = new bootstrap.Tab(tabElement);
            tabInstance.show();
        }

        var tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');
        tabLinks.forEach(function(tabLink) {
            tabLink.addEventListener('shown.bs.tab', function(event) {
                localStorage.setItem('activeTab', event.target.getAttribute('href'));
            });
        });
    });
</script>
<script>
    function addFromToQuery() {
        const searchInput = document.getElementById('search-input');
        const fromUsername = "from:{{ user_profile.user.username }} ";
        searchInput.value = fromUsername + searchInput.value;
    }
</script>
{% endblock %}
